<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{ projeto.titulo_projeto }}</title>
</head>
<body>

    <p><a href="{% url 'projetos_aprovados' %}">&larr; Voltar para a lista</a></p>
    
    <h1>{{ projeto.titulo_projeto }}</h1>
    <p><em>Por: {{ projeto.nome_autores }}</em></p>

    <ul>
        <li><strong>Unidade Curricular:</strong> {{ projeto.turma.disciplina }}</li>
        <li><strong>Curso de Graduação:</strong> {{ projeto.turma.curso }}</li>
        <li><strong>Semestre Letivo:</strong> {{ projeto.turma.semestre.nome_semestre }}</li>
    </ul>

    <hr>

    <h3>Objetivos do Trabalho</h3>
    <p>{{ projeto.objetivos_trabalho|linebreaks }}</p>

    <h3>Metodologia do Projeto</h3>
    <p>{{ projeto.metodologia_projeto|linebreaks }}</p>

    <h3>Resultados Obtidos</h3>
    <p>{{ projeto.resultados_projeto|linebreaks }}</p>

    <h3>Justificativa e Alinhamento com as ODS</h3>
    <p>{{ projeto.justificativa_ods|linebreaks }}</p>

    <h3>Reflexão Crítica</h3>
    <p>{{ projeto.reflexao_projeto|linebreaks }}</p>

    <h3>Referências Bibliográficas</h3>
    <p>{{ projeto.referencia_projeto|linebreaks }}</p>

</body>
</html>