<!DOCTYPE html>
<html>
<head>
    <title>Dashboard Aluno</title>
</head>
<body>
    <h1>Painel do Aluno</h1>
    <p>Você está logado como: {{ request.user.username }}</p>

    <h3>Minhas Inscrições e Projetos</h3>


    <ul>
        {% for inscricao in lista_inscricoes %}
            <li>
                {{ inscricao.turma.nome_turma }}
                
                {% if inscricao.projeto_vinculado %}
                    <strong>(Status: {{ inscricao.projeto_vinculado.get_status_projeto_display }})</strong>
                {% else %}
                    <strong>(Status: Não iniciado)</strong>
                {% endif %}

                <a href="{% url 'relatorio_projeto' inscricao.id %}">Acessar Relatório</a>
            </li>
        {% empty %}
            <li>Nenhuma inscrição encontrada.</li>
        {% endfor %}
    </ul>

    <hr>
    <a href="{% url 'inscrever_em_turma' %}">
        <button type="button">Inscrever-se em uma turma</button>
    </a>
    <a href="{% url 'logout' %}">
        <button type="button">Logout</button>
    </a>
</body>
</html>